@import "./main";

.footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 12%;
    @include flex(column);
    gap: .1em;
    color: white;
    background-color: rgba(0, 0, 0, 0.938);

    h3{
        color: rgb(254, 51, 51);
    }
}