@import "./main";

.header{
    @include flex(row);
    justify-content: space-between;
    color: white;
    height: 10vh;
    background-color: rgb(250, 50, 50);

    &__title{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: 1em;
        font-size: clamp(1.2rem, 1.5rem, 2rem);
    }

    &__nav{
        margin-right: 1em;

        &__ul{
            display: flex;
            gap: .8em;
        }
    }

    .fas{
        display: none
    }
}

@media screen and (max-width:750px){
    .header{
        position: relative;

        &__nav{
            display: none;
            margin-right: 0;
            background-color: white;
            height: 75vh;
            width: 100%;
            position: absolute;
            top: 10vh;
            bottom: 0;
            right: 0;
            transition: all 500ms ease-in;

            &__ul{
                @include flex(column);
                margin-top: 5em;
                gap: 2em;
            }

            &__ul li a{
                color: red;
            }
        }

        .fa-bars{
            display: initial;
            margin-right: 1em;
            font-size: 1.5rem;
        }
        .fa-times{
            display: none;
            margin-right: 1em;
            font-size: 1.5rem;
        }
    }
    
    //classList nav bar styles
.slide-in{
    display: initial;
    }
}
