@mixin flex($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction
};

.main{
    height: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__add__input{
        @include flex(row);
        width: 90%;
        background-color: rgba(255, 0, 0, 0.779);
        height: 100px;
        margin-bottom: .5em;
        margin-top: .5em;
        border-radius: 5px;

        &__field{
            width: 75%;
            height: 36.9px;
            margin-right: 5px;
            padding-left: .5em;
            border: none;
            font-size: 1rem;
            outline-color:blue;
        }
        &__button{
            height: 38.3px;
            padding: 0 .9em;
            font-weight: bold;
            border: none;
            background-color: rgb(253, 170, 170);
            transition: all 500ms ease-in-out;
            cursor: pointer;

            &:hover{
                background-color: black;
                color: white;
            }
        }
    }
    // &__task__lists{
    //     width: 90%;

    //     &__title{
    //         color: rgba(255, 0, 0, 0.779)
    //     }
    // }

}

@media screen and (max-width: 750px){
    .main__add__input{
        width: 100%;

        &__field{
            width: 70%;
        }
    }
}