.main__task__lists{
    // border: 1px solid red;
    width: 90%;
    min-height: 40%;
    margin-bottom: 1em;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        width: 12px;
    }
    &::-webkit-scrollbar-track{
        background-color: rgba(255, 0, 0, 0.694);
    }
    &::-webkit-scrollbar-thumb{
        background-color: orange;
        border-radius: 20px;
    }

    &__complete__message{
        display: none;
        margin-left: .8em;
        background-color: green;
        color: white;
        font-size: 1.125rem;
        padding: 5px 5px;
        font-weight: bold;
    }

    .task{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: relative;
        margin-bottom: .2em;
        background-color: rgba(211, 211, 211, 0.489);
        cursor: pointer;

        &__date{
            color: rgba(255, 0, 0, 0.868);
            margin-bottom: .3em;
            margin-left: .5em;
            padding-top: .2em;
            font-size: .9rem;
        }
        &__task{
            font-size: 1.3rem;
            text-transform: capitalize;
            margin-bottom: .3em;
            margin-left: .5em;
        }
        &__complete{
            border: 1px solid blue;
            margin-bottom: .5em;
            padding: 5px 5px;
            background-color: rgba(255, 0, 0, 0.712);
            border: none;
            color: white;
            font-weight: bold;
            transition: background-color 500ms ease-in;
            margin-left: .8em;
            cursor: pointer;

            &:hover{
                background-color: black;
            }
        }
        &__exit{
            position: absolute;
            color: rgba(255, 0, 0, 0.68);
            top: 10px;
            font-size: 1.2rem;
            right: 10px;
        }
    }
}

.completed{
    background-color: green;
}