@import "./resets";
@import "./header";
@import "./main";
@import "./footer";
@import "./general.scss";

body{
    height: 100vh;
}
.header{
    margin-bottom: 0;
}
.main{
    padding-top: 3em;
    height: 75%;
    
    &__form{
        margin-top: 2em;
        width: 50%;
        @include flex(column);

        &__input{
            width: 100%;
            margin-bottom: 1em;
            height: 40px;
            border: none;
            border-bottom: 1px solid black;
            border-radius: 5px;
            font-size: 1rem;

            &::placeholder{
                padding-left: .5em;
            }

            &:focus{
                outline-color: red;
            }
            
        }
        &__textarea{
            @extend .main__form__input;
            border: 1px solid black;
            height: 150px;
        }

        &__button{
            padding: .5em 3em;
            font-weight: bold;
            border: none;
            background-color: rgba(255, 0, 0, 0.806);
            color: white;
            border-radius: 3px;
            transition: background-color 500ms ease-in;

            &:hover{
                background-color: black;
            }
        }
    }
}

@media screen and (max-width:750px){
    .header{
        position: relative;

        &__nav{
            margin-right: 0;
            background-color: white;
            height: 90vh;
            width: 100%;
            position: absolute;
            top: 10vh;
            right: -1000px;
            transition: all 500ms ease-in;

            &__ul{
                @include flex(column);
                margin-top: 5em;
            }

            &__ul li a{
                color: red;
            }
        }

        .fa-bars{
            display: initial;
            margin-right: 2em;
            font-size: 1.5rem;
        }
        .fa-times{
            display: none;
            margin-right: 2em;
            font-size: 1.5rem;
        }
    }

    .main{
        &__form{
            width: 80%;
        }
    }
}

//classList nav bar styles
.slide-in{
    right: 0;
}