@import "./resets";
@import "./header";
@import "./main";
@import "./footer";
@import "./general.scss";

body{
    height: 100vh;
}
.header{
    margin-bottom: 0;
}
.main{
    padding-top: 2em;
    height: 75%;
    
    &__form{
        border-radius: 5px;
        margin-top: 1em;
        margin-bottom: 1em;
        width: 50%;
        @include flex(column);

        &__input{
            width: 90%;
            margin-bottom: 1em;
            height: 40px;
            border: none;
            border-bottom: 1px solid black;
            border-radius: 5px;
            font-size: 1rem;
            background-color: rgb(240, 240, 240);

            &:first-child{
                margin-top: 1em;
            }

            &::placeholder{
                padding-left: .5em;
            }

            &:focus{
                outline-color: red;
            }
            
        }
        &__textarea{
            @extend .main__form__input;
            border: 1px solid black;
            height: 150px;
        }

        &__button{
            padding: .8em 3em;
            font-weight: bold;
            margin-bottom: 1em;
            border: none;
            background-color: rgba(255, 0, 0, 0.806);
            color: white;
            border-radius: 100vmax;
            margin-bottom: 2em;
            transition: background-color 500ms ease-in;

            &:hover{
                background-color: black;
            }
        }
    }
}

.footer{
        height: 15%;
        margin-top: 1em;
    }

@media screen and (max-width:750px){
    .main{
        &__form{
            width: 80%;
        }
    }
}
