* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
  color: #181212;
  text-decoration: underline;
}

.main {
  height: 75%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__add__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  background-color: rgba(255, 0, 0, 0.779);
  height: 100px;
  margin-bottom: .5em;
  margin-top: .5em;
  border-radius: 5px;
}

.main__add__input__field {
  width: 75%;
  height: 36.9px;
  margin-right: 5px;
  padding-left: .5em;
  border: none;
  font-size: 1rem;
  outline-color: none;
}

.main__add__input__button {
  height: 38.3px;
  padding: 0 .9em;
  font-weight: bold;
  border: none;
  background-color: #fdaaaa;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

.main__add__input__button:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 750px) {
  .main__add__input {
    width: 100%;
  }
  .main__add__input__field {
    width: 70%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  height: 10%;
  background-color: #fa3232;
}

.header__title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 1em;
  font-size: clamp(1.2rem, 1.5rem, 2rem);
}

.header__nav {
  margin-right: 1em;
}

.header__nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .8em;
}

.header .fas {
  display: none;
}

@media screen and (max-width: 750px) {
  .header {
    position: relative;
  }
  .header__nav {
    display: none;
    margin-right: 0;
    background-color: white;
    height: 74vh;
    width: 100%;
    position: absolute;
    top: 10vh;
    bottom: 0;
    right: 0;
    -webkit-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
    z-index: 999;
  }
  .header__nav__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5em;
    gap: 2em;
  }
  .header__nav__ul li a {
    color: red;
  }
  .header .fa-bars {
    display: initial;
    margin-right: 1em;
    font-size: 1.5rem;
  }
  .header .fa-times {
    display: none;
    margin-right: 1em;
    font-size: 1.5rem;
  }
  .slide-in {
    display: initial;
  }
}

.main {
  height: 75%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__add__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  background-color: rgba(255, 0, 0, 0.779);
  height: 100px;
  margin-bottom: .5em;
  margin-top: .5em;
  border-radius: 5px;
}

.main__add__input__field {
  width: 75%;
  height: 36.9px;
  margin-right: 5px;
  padding-left: .5em;
  border: none;
  font-size: 1rem;
  outline-color: none;
}

.main__add__input__button {
  height: 38.3px;
  padding: 0 .9em;
  font-weight: bold;
  border: none;
  background-color: #fdaaaa;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

.main__add__input__button:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 750px) {
  .main__add__input {
    width: 100%;
  }
  .main__add__input__field {
    width: 70%;
  }
}

.main {
  height: 75%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__add__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  background-color: rgba(255, 0, 0, 0.779);
  height: 100px;
  margin-bottom: .5em;
  margin-top: .5em;
  border-radius: 5px;
}

.main__add__input__field {
  width: 75%;
  height: 36.9px;
  margin-right: 5px;
  padding-left: .5em;
  border: none;
  font-size: 1rem;
  outline-color: none;
}

.main__add__input__button {
  height: 38.3px;
  padding: 0 .9em;
  font-weight: bold;
  border: none;
  background-color: #fdaaaa;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

.main__add__input__button:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 750px) {
  .main__add__input {
    width: 100%;
  }
  .main__add__input__field {
    width: 70%;
  }
}

.footer {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .1em;
  color: white;
  background-color: rgba(0, 0, 0, 0.938);
}

.footer h3 {
  color: #fe3333;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
  color: #181212;
  text-decoration: underline;
}

.main {
  height: 75%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__add__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  background-color: rgba(255, 0, 0, 0.779);
  height: 100px;
  margin-bottom: .5em;
  margin-top: .5em;
  border-radius: 5px;
}

.main__add__input__field {
  width: 75%;
  height: 36.9px;
  margin-right: 5px;
  padding-left: .5em;
  border: none;
  font-size: 1rem;
  outline-color: none;
}

.main__add__input__button {
  height: 38.3px;
  padding: 0 .9em;
  font-weight: bold;
  border: none;
  background-color: #fdaaaa;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

.main__add__input__button:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 750px) {
  .main__add__input {
    width: 100%;
  }
  .main__add__input__field {
    width: 70%;
  }
}

.main {
  height: 75%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__add__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  background-color: rgba(255, 0, 0, 0.779);
  height: 100px;
  margin-bottom: .5em;
  margin-top: .5em;
  border-radius: 5px;
}

.main__add__input__field {
  width: 75%;
  height: 36.9px;
  margin-right: 5px;
  padding-left: .5em;
  border: none;
  font-size: 1rem;
  outline-color: none;
}

.main__add__input__button {
  height: 38.3px;
  padding: 0 .9em;
  font-weight: bold;
  border: none;
  background-color: #fdaaaa;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

.main__add__input__button:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 750px) {
  .main__add__input {
    width: 100%;
  }
  .main__add__input__field {
    width: 70%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  height: 10%;
  background-color: #fa3232;
}

.header__title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 1em;
  font-size: clamp(1.2rem, 1.5rem, 2rem);
}

.header__nav {
  margin-right: 1em;
}

.header__nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .8em;
}

.header .fas {
  display: none;
}

@media screen and (max-width: 750px) {
  .header {
    position: relative;
  }
  .header__nav {
    display: none;
    margin-right: 0;
    background-color: white;
    height: 74vh;
    width: 100%;
    position: absolute;
    top: 10vh;
    bottom: 0;
    right: 0;
    -webkit-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
    z-index: 999;
  }
  .header__nav__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5em;
    gap: 2em;
  }
  .header__nav__ul li a {
    color: red;
  }
  .header .fa-bars {
    display: initial;
    margin-right: 1em;
    font-size: 1.5rem;
  }
  .header .fa-times {
    display: none;
    margin-right: 1em;
    font-size: 1.5rem;
  }
  .slide-in {
    display: initial;
  }
}

.main {
  height: 75%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__add__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  background-color: rgba(255, 0, 0, 0.779);
  height: 100px;
  margin-bottom: .5em;
  margin-top: .5em;
  border-radius: 5px;
}

.main__add__input__field {
  width: 75%;
  height: 36.9px;
  margin-right: 5px;
  padding-left: .5em;
  border: none;
  font-size: 1rem;
  outline-color: none;
}

.main__add__input__button {
  height: 38.3px;
  padding: 0 .9em;
  font-weight: bold;
  border: none;
  background-color: #fdaaaa;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

.main__add__input__button:hover {
  background-color: black;
  color: white;
}

@media screen and (max-width: 750px) {
  .main__add__input {
    width: 100%;
  }
  .main__add__input__field {
    width: 70%;
  }
}

.footer {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .1em;
  color: white;
  background-color: rgba(0, 0, 0, 0.938);
}

.footer h3 {
  color: #fe3333;
}

.main__task__lists {
  width: 90%;
  min-height: 0;
  max-height: 70%;
  margin-bottom: .2em;
  overflow-y: scroll;
}

.main__task__lists::-webkit-scrollbar {
  width: 12px;
}

.main__task__lists::-webkit-scrollbar-track {
  background-color: rgba(255, 0, 0, 0.694);
}

.main__task__lists::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 20px;
}

.main__task__lists .task {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  margin-bottom: .2em;
  background-color: rgba(211, 211, 211, 0.489);
  cursor: pointer;
}

.main__task__lists .task__date {
  color: rgba(255, 0, 0, 0.868);
  margin-bottom: .3em;
  margin-left: .8em;
  padding-top: .2em;
  font-size: .9rem;
}

.main__task__lists .task__task {
  font-size: 1.2rem;
  text-transform: capitalize;
  margin-bottom: .3em;
  margin-left: .5em;
}

.main__task__lists .task__complete {
  border: 1px solid blue;
  margin-bottom: .5em;
  padding: 5px 5px;
  background-color: rgba(255, 0, 0, 0.712);
  border: none;
  color: white;
  font-weight: bold;
  -webkit-transition: background-color 500ms ease-in;
  transition: background-color 500ms ease-in;
  margin-left: .8em;
  cursor: pointer;
}

.main__task__lists .task__complete:hover {
  background-color: black;
}

.main__task__lists .task__exit {
  position: absolute;
  color: rgba(255, 0, 0, 0.68);
  top: 10px;
  font-size: 1.2rem;
  right: 10px;
}

.completed {
  background-color: green;
}

.task__counter {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-weight: bold;
  margin-bottom: .2em;
  background-color: rgba(0, 0, 0, 0.934);
  border-radius: 5px;
}

.task__counter__completed {
  color: #28fd28;
  padding-top: .8em;
}

.task__counter__uncompleted {
  color: #fa4f4f;
  padding-bottom: .8em;
}

body {
  font-size: 16px;
  height: 100vh;
  overflow-x: hidden;
}

body {
  height: 100vh;
}

.header {
  margin-bottom: 0;
}

.main {
  padding-top: 2em;
  height: 75%;
}

.main__form {
  border-radius: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__form__input, .main__form__textarea {
  width: 90%;
  margin-bottom: 1em;
  height: 40px;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 5px;
  font-size: 1rem;
}

.main__form__input:first-child, .main__form__textarea:first-child {
  margin-top: 1em;
}

.main__form__input::-webkit-input-placeholder, .main__form__textarea::-webkit-input-placeholder {
  padding-left: .5em;
}

.main__form__input:-ms-input-placeholder, .main__form__textarea:-ms-input-placeholder {
  padding-left: .5em;
}

.main__form__input::-ms-input-placeholder, .main__form__textarea::-ms-input-placeholder {
  padding-left: .5em;
}

.main__form__input::placeholder, .main__form__textarea::placeholder {
  padding-left: .5em;
}

.main__form__input:focus, .main__form__textarea:focus {
  outline-color: red;
}

.main__form__textarea {
  border: 1px solid black;
  height: 150px;
}

.main__form__button {
  padding: .8em 3em;
  font-weight: bold;
  margin-bottom: 1em;
  border: none;
  background-color: rgba(255, 0, 0, 0.806);
  color: white;
  border-radius: 100vmax;
  margin-bottom: 2em;
  -webkit-transition: background-color 500ms ease-in;
  transition: background-color 500ms ease-in;
}

.main__form__button:hover {
  background-color: black;
}

.footer {
  height: 15%;
  margin-top: 1em;
}

@media screen and (max-width: 750px) {
  .main__form {
    width: 80%;
  }
}
/*# sourceMappingURL=contact.css.map */